
@{
    ViewData["Title"] = "Despre noi";
}
<link rel="stylesheet" href="~/css/Page-1.css" media="screen">

<section class="u-align-left u-clearfix u-section-1" id="carousel_dc5e">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class="u-text u-text-1">Cine suntem noi?</h4><span class="u-icon u-icon-circle u-opacity u-opacity-45 u-text-palette-5-base u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 409.294 409.294" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b49d"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 409.294 409.294" id="svg-b49d"><path d="m233.882 29.235v175.412h116.941c0 64.48-52.461 116.941-116.941 116.941v58.471c96.728 0 175.412-78.684 175.412-175.412v-175.412z"></path><path d="m0 204.647h116.941c0 64.48-52.461 116.941-116.941 116.941v58.471c96.728 0 175.412-78.684 175.412-175.412v-175.412h-175.412z"></path></svg></span>
        <h2 class="u-text u-text-2">Text</h2>
    </div>
</section>