@{
    ViewData["Title"] = "Blockchain";
}

<link rel="stylesheet" href="~/css/Page-2.css" media="screen">
<section class="u-clearfix u-custom-color-2 u-section-1" id="sec-c197">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h5 class="u-text u-text-default u-text-1">Ce este blockchain?</h5>
        <h4 class="u-text u-text-default u-text-2">
            &nbsp;Un blockchain<span style="font-weight: normal;"> este un registru distribuit </span>peer-to-peer<span style="font-weight: normal;"> unit prin consensus, combinat cu un sistem pentru</span> „contracte inteligente”<span style="font-weight: normal;"> și alte tehnologii de asistență.&nbsp;</span>
        </h4>
    </div>
</section>
<section class="u-align-left u-clearfix u-section-2" id="carousel_dc5e">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Blockchain este un mod simplu, dar
            ingenios, de a transmite informații de la A la B într-un mod complet automat și
            sigur.&nbsp;O parte la o tranzacție inițiază procesul prin crearea unui
            bloc.&nbsp;Acest bloc este verificat de mii, poate de milioane de calculatoare
            distribuite pe net.&nbsp;Blocul verificat este adăugat la un lanț, care este
            stocat pe net, creând nu doar o înregistrare unică, ci o înregistrare unică cu
            un istoric unic.&nbsp;Falsificarea unei singure înregistrări ar însemna
            falsificarea întregului lanț în milioane de cazuri.&nbsp;Acest lucru este
            practic imposibil. Rețeaua blockchain nu are autoritate
            centrală - este însăși definiția unui sistem democratizat, deoarece este un
            registru partajat și imuabil, informațiile din acesta sunt deschise pentru
            oricine și pentru toată lumea.&nbsp;Prin urmare, orice este construit pe
            blockchain este prin natura sa transparentă și toți cei implicați sunt
            responsabili pentru acțiunile lor.&nbsp;Bitcoin
            folosește acest model pentru tranzacțiile monetare, dar poate fi implementat în
            multe alte moduri.<br>&nbsp;<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Blockchain este
            structurat într-un mod în care participanții la rețea ajung în mod automat la
            un consens asupra conținutului înregistrărilor blockchain, garantând în același
            timp invariabilitatea înregistrărilor și securitatea generală a rețelei. Un
            exemplu poate fi atunci&nbsp;când trebuie să transferăm fonduri folosind un
            protocol blockchain.&nbsp;Tranzacțiile se petrec între un anumit număr de
            participanți din rețea.&nbsp;De asemenea, nu este necesară implicarea unei
            anumite autorități de încredere centralizate (cum ar fi o bancă) care să
            garanteze validitatea tranzacțiilor.&nbsp;<br>
            <br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Cum se
            poate ajunge la un consens într-o rețea distribuită în care participanții nu au
            încredere unul în altul?&nbsp;Secretul este destul de simplu: un blockchain nu
            este doar o implementare tehnică a protocolului de transfer de tranzacții,&nbsp;mai
            degrabă, este un fel de ecosistem la intersecția tehnologiilor și principiilor
            economice.&nbsp;Cu alte cuvinte, un blockchain își pierde o serie de proprietăți
            în absența principiilor economice.&nbsp;Să începem prin a privi structura
            blockchain dintr-o perspectivă tehnică.
            După cum sugerează și numele său, este un lanț de
            blocuri. Aceste blocuri și lanțul lor sunt generate după reguli specifice și
            sincronizate între toți participanții la rețea. La rândul său, fiecare bloc
            constă dintr-un antet și o listă de tranzacții.&nbsp;Antetul blocului include
            la rândul său: hash-ul propriu, hash-ul blocului anterior, hash-ul
            tranzacțiilor și informații suplimentare despre servicii.
        </h2>
        <h6 class="u-text u-text-body-alt-color u-text-default u-text-2">Nick Cave</h6>
    </div>
</section>
<section class="u-clearfix u-custom-color-2 u-section-3" id="sec-7ed9">
    <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-absolute-hcenter u-expand-resize u-expanded-height u-image u-image-1" src="~/images/12.png" data-image-width="624" data-image-height="421">
    </div>
</section>
<section class="u-align-left u-clearfix u-section-4" id="sec-c8b1">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Hash-ul
            oricărui bloc constă din hash-ul tranzacțiilor.&nbsp;Drept urmare, toate
            informațiile despre transmiterea completată a datelor sunt stocate și nu pot fi
            răspândite fără înlocuirea întregului bloc.&nbsp;În acest fel, un bloc devine
            un fel de container pentru un set de tranzacții.&nbsp;Între timp, prezența
            hash-ului blocului anterior permite aranjarea blocurilor într-un lanț și oferă
            protecție împotriva spargerii blocurilor.<br>&nbsp;<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;După ce s-a adăugat un
            bloc la sfârșitul blockchain-ului, este foarte dificil de modificat conținutul
            blocului. Codurile Hash sunt create de o funcție matematică care transformă
            informațiile digitale într-un șir de numere și litere.&nbsp;Dacă informațiile
            sunt editate în vreun fel, codul hash se modifică și el.
        </h2>
        <h6 class="u-text u-text-body-alt-color u-text-default u-text-2">Nick Cave</h6>
    </div>
</section>