<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Hello, my name is Mark.Nice to see you!, $ 29, $ 59, $ 29, Business coaches are typically experienced entrepreneurs and business owners themselves who decide to use their talents for building and growing a business to help other business owners reach their goals., INTUITIVE">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">

    <title>@ViewData["Title"] - RVT WebTerminal</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <script type="application/ld+json">
        {
                "name": "",
                "url": "index.html",
                "logo": "~/images/RVTLogo.png"
        }</script>
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
</head>
<body class="u-body">
    @Html.Partial("_Navi")

    @RenderBody()


    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-9464">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">©2021 RVTVote. All Rights Reserved.</p>
        </div>
    </footer>


    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
