@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

<!-- Custom stlylesheet -->
<link type="text/css" rel="stylesheet" href="~/css/style.css" />

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404"></div>
        <h1>404</h1>
        <h2>Oops! Pagina nu poate fi găsită</h2>
        <p>Ne pare rău, dar pagina pe care o căutați nu există, a fost eliminată sau este indisponibilă temporar</p>
        <a href="@Url.ActionLink("Index","Home")">Înapoi la pagina principală</a>
    </div>
</div>